<!DOCTYPE html>
<html>
<head><title>MIB Browser</title></head>
<body>
  <h1>Consulta SNMP</h1>
  <form method="POST" action="/result.html">
    IP Agent: <input type="text" name="ip"><br>
    Versió SNMP: 
    <select name="versio">
      <option value="1">v1</option>
      <option value="2c">v2c</option>
    </select><br>
    Comunitat: <input type="text" name="community"><br>
    OID: <input type="text" name="oid"><br>
    Result:
    <select name="result">
      <option value="get">GET</option>
      <option value="next">NEXT</option>
      <option value="set">SET</option>
      <option value="bulkwalk">BULKWALK</option>
    </select><br>
    <input type="submit" value="Enviar">
  </form>
</body>
</html>
